module.exports = {
  bucket:           'default',
  documentTTL:      60*60*24*5,
  userAgent:        'politic-bot/0.3.8 by go1dfish',
  mirrorSubreddit:  'POLITIC',
  reportSubreddit:  'ModerationLog',
  mirrorAccount: {
    user:     'yourusername',
    password: 'yourpassword'
  },
  reportAccount: {
    user:     'yourusername',
    password: 'yourpassword'
  },
  minAuthorAge: 60*60*1000,
  filterDomains: [
    'facebook.com',
    'fbcdn.net'
  ],
  subreddits: [
    'politics',
    'worldnews',
    'Canada',
    'CanadaPolitics',
    'Communism',
    'news',
    'Obama',
    'evolutionReddit',
    'Liberal',
    'progressive',
    'Conservative',
    'conservatives',
    'democrats',
    'Republican',
    'Libertarian',
    'LibertarianLeft',
    'moderatepolitics',
    'Anarchism',
    'Bad_Cop_No_Donut',
    'ronpaul',
    'conspiracy',
    'PoliticalDiscussion',
    'PoliticalHumor',
    'AnythingGoesNews',
    'socialism',
    'WikiLeaks',
    'worldevents',
    'worldpolitics',
    'SOPA',
    'StateOfTheUnion',
    'uspolitics',
    'ukpolitics',
    'Anarcho_Capitalism',
    'Economy',
    'Economics',
    'MensRights',
    'WomensRights',
    'PoliticalModeration',
    'ElectionPolls',
    'postnationalist',
    'CryptoAnarchy',
    'altnewz',
    'bitlaw',
    'SandersForPresident',
    'JustinAmash',
    'GaryJohnson',
    'alltheleft',
    'demsocialist',
    'falseequivalency',
    'GreenParty',
    'labor',
    'leninism',
    'neoprogs',
    'SocialDemocracy',
    'leftcommunism',
    'monarchism',
    'Objectivism',
    'republicans',
    'Romney',
    'Paul_Ryan',
    'centrist',
    'NeutralPolitics',
    'Agorism',
    'AnarchObjectivism',
    'libertarianmeme',
    'LibertarianSocialism',
    'Paul',
    'randpaul',
    'TrueLibertarian',
    'voluntarism',
    'AnarchistNews',
    'Green_Anarchism',
    'futuristparty',
    'PirateParty',
    'doctorswithoutborders',
    'EndlessWar',
    'DescentIntoTyranny',
    'european',
    'LegalNews'
  ],
  additionalMirrors: {
  }
};
