{
  "user":             "yourusername",
  "password":         "yourpassword",
  "mirrorSubreddit":  "POLITIC",
  "reportSubreddit":  "ModerationLog",
  "minAuthorAge":     3600000,
  "blacklist":        ["suicidewatch", "depression", "civcraft"]
}
