module.exports = {
  userAgent:        'politic-bot/0.2.0',
  mirrorSubreddit:  'POLITIC',
  reportSubreddit:  'ModerationLog',
  mirrorAccount: {
    user:     'yourusername',
    password: 'yourpassword'
  },
  reportAccount: {
    user:     'yourusername',
    password: 'yourpassword'
  },
  filterDomains: [
    'facebook.com',
    'fbcdn.net'
  ],
  subreddits: [
    'politics',
    'worldnews',
    'Canada',
    'CanadaPolitics',
    'Communism',
    'News',
    'Obama',
    'evolutionReddit',
    'Liberal',
    'Progressive',
    'Conservative',
    'conservatives',
    'Democrats',
    'Republican',
    'Libertarian',
    'LibertarianLeft',
    'ModeratePolitics',
    'Anarchism',
    'Bad_Cop_No_Donut',
    'RonPaul',
    'Conspiracy',
    'PoliticalDiscussion',
    'PoliticalHumor',
    'AnythingGoesNews',
    'Socialism',
    'Wikileaks',
    'WorldEvents',
    'WorldPolitics',
    'SOPA',
    'StateoftheUnion',
    'USPolitics',
    'UKPolitics',
    'Anarcho_Capitalism',
    'Economy',
    'Economics',
    'DarkNetPlan',
    'MensRights',
    'WomensRights',
    'PoliticalModeration',
    'ElectionPolls',
    'postnationalist',
    'CryptoAnarchy'
  ]
};
