{
  "user":             "reddit_bot",
  "password":         "snoo",
  "mirrorSubreddit":  "POLITIC",
  "reportSubreddit":  "ModerationLog",
  "commentSubreddit": "RemovedComments",
  "reportLiveThread": "ue6qa6y8fqw9",
  "oAuthKey": "p-jcoLKBynTLew",
  "oAuthSecret": "gko_LXELoV07ZBNUXrvWZfzE3aI"
}
